/* Additional styles */

/* Base typography */

html{
  display: block;
}

body {
  font-family: 'Open Sans';
  color: rgb(68, 68, 68);
  background-color: rgb(251, 251, 251);
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color:inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

h1, h2 {
    font-weight: 300;
    line-height: 125%;
}

h1 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    color: rgb(158, 158, 158);
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
}

ul {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: rgb(119, 119, 119);
  padding-left: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* Grid */

.main-content {
  width: 960px;
  margin: auto;
}

td {
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

/* Classes */


.padding-inside-top-md {
    padding-top: 50px;
}
.centered {
  text-align: center;
}

.tagline {
  font-size: 22px;
}

/* Buttons */

.main-button {
  background-color: rgb(0,126,229);
  width: 200px;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.signup-button {
    background-color: rgb(0,126,229);
    width: 100%;
    color: white;
    border-radius: 5px;
    height: 40px;
    transition: all 0.2s ease-in-out;

.button:hover {
  background-color: rgb(0, 65, 117);
}

/* Navbar */

.navbar {
  font-family: "Open Sans"
  vertical-align: middle;
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}


/* Backgrounds for each section of the page */

.hero {
  background: url("hero.png") no-repeat center center;
  background-size: cover;
  color: white;
  height: 400px;
  vertical-align: middle;
}

.sound-bites, .why-order {
  background-color: rgb(238, 238, 238);
}

.download-apps {
  background: url("download-hero.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 400px;
  vertical-align: middle;
}

.footer {
  background-color: rgb(50, 50, 170);
}

/* Miscellaneous */

.spotlight-image {
  width: 400px;
}


.store-badge {
  width: 200px;
}

/* Footer styles */

.h4-footer  {
  color: rgb(153,153,153);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.ul-footer {
  color: rgb(119,119,119);
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0;
}

.li-footer {
    color: rgb(119,119,119);
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    }

/* Raghu's standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
