.main-content {
  width: 960px;
  margin: auto;
}

body {
  background-color: rgb(251, 251, 251);
  color: rgb(68,68,68);
  font-family: 'Open Sans', sans-serif;
}

a {
  color: rgb(0, 102, 255);
  text-decoration: none;
}

.topnav {
  color: rgb(0, 102, 255);
  vertical-align: middle;
  text-decoration: none;
}

.navbar-logo {
  font-family: "Open Sans";
  font-size: medium;
  text-decoration: none;
}

.hero {
  text-align:center;
  background: url("hero.png") no-repeat center center;
  background-size: cover;
  height: 300px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-weight: 300;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.signup-button {
  background-color: rgb(0,126,229);
  height: 40px;
  width: 50%;
  color: white;
  border-radius: 5px;
}

.h4-footer {
  color: rgb(153,153,153);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.li-footer {
  color: rgb(119,119,119);
  margin-bottom: 10px;
}

.ul-footer {
  list-style: none;
  padding-left: 0;
}
