body {
  background-color: rgb(251, 251, 251);
  color: rgb(68,68,68);
  font-family: "Open Sans";
}

h1, h2 {
  font-weight: 300;
  line-height: 125%;
}

h3{

}
p {
  font-size: 20px;
  font-weight: 300;
  line-height: 175%;
}

td{
  vertical-align: top;
  padding-left: 10px;
  padding-right: 10px;
}

.get-started-main{
  padding-top:50px;
  padding-bottom: 150px;
}

button{
  background-color: rgb(0, 126, 229);
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.main-content{
  width: 960px;
  margin:auto;
}

.header-row{
  text-align: left;
  color: rgb(0, 126, 229);
}

.ul-footer{
  list-style: none;
  padding-left: 0;
}

.li-footer{
  color: rgb(119, 119, 119);
  padding-bottom: 10px;
}
