.main-content {
  font-family: 'Open Sans', sans-serif;
  color: rgb(68,68,68);
  background-color: rgb(251,251,251);
}

.top-link{
  text-decoration: none;
  color: rgb(0,126,229)
}

.top-pic{
  background: url("hero.png") no-repeat center center;
  height: 400px;
}

.margin-top{
  margin-top: 20px;
}

.sign-up-button{
  background-color: rgb(0,126,229);
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.bottom-button{
  background-color: rgb(0,126,229);
  width: 100%;
  color: white;
  border-radius: 5px;
  height: 40px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

.footer-list{
  list-style: none;
  padding-left: 0;
  color: rgb(119,119,119);
}

.h4-foot{
  color: rgb(153,153,153);
  vertical-align: top;
}

.footer-col{
  vertical-align: top;
}
