.main-content {width: 960px; margin: auto;}

body {background-color: rgb(251, 251, 251); color: rgb(68, 68,68); font-family: 'Open Sans', sans-serif;}

h1, h2 {font-weight: 300; line-height: 125%}

p {font-size: 20px; font-weight: 300; line-height: 175%}

.nav-color {color: rgb(0,126,229)}

.nav-padding {padding-top: 0px}

.hero {color: white;
  text-align: center;
  background: url("hero.png")
  no-repeat center center;
  background-size: cover; height: 300px;}

button {color: white; background-color: rgb(0,126,229); width: 100%; border-radius: 5px; height: 40px;}

td {vertical-align: top; padding-left: 10px; padding-right: 10px; padding-top: 50px;}




.getstarted-padding {padding-top: 50px; padding-bottom: 150px}







.footer-different {vertical-align: top; color: rgb(153, 153, 153); padding-top: 0px}

.ul-different {color: black; }

.footer-same {vertical-align: top; color: rgb(153, 153, 153); padding-top: 0px }

ul {list-style: none; list-style-position: initial; padding-left: 0;}

li {padding-bottom: 10px}
.li-dif {padding-bottom: 0px}
