.main-content {
  width: 960px;
  margin: auto;
  background-color: rgb(251, 251, 251);
}

button {
  background-color: rgb(0, 126, 229);
  color:white;
  height:40px;
  width: 200px;
  border-radius: 5px;
}

.body-format {
  background-color: rgb(251, 251, 251);
}
