td {
  border: thin red solid;
}

.main-content {
  width: 960px;
  margin: auto;
}

button {
  background-color: rgb(0, 126, 229);
  color:white;
  height:40px;
  width: 200px;
  border-radius: 5px;
}
